{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.attacking.mod.title')
  disabled=this.defenseSent
  inputName="defender.mystic.modifier"
  inputValue=this.defender.mystic.modifier
}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title="Magic projection"
  disabled=this.defenseSent
  inputName='defender.mystic.magicProjectionType'
}}
  <option {{#if (is "eq" this.defender.mystic.magicProjectionType 'normal')}}selected{{/if}} value='normal'>Normal ({{this.defender.actor.data.data.mystic.magicProjection.final.value}})</option>
  <option {{#if (is "eq" this.defender.mystic.magicProjectionType 'defensive')}}selected{{/if}} value='defensive'>Defensive ({{this.defender.actor.data.data.mystic.magicProjection.imbalance.defensive.final.value}})</option>
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title="Spell"
  disabled=this.defenseSent
  inputName='defender.mystic.spellUsed'
}}
  {{#each this.defender.actor.data.data.mystic.spells}}
    <option {{#if (is "eq" this._id ../this.defender.mystic.spellUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title="Spell grade"
  disabled=this.defenseSent
  inputName='defender.mystic.spellGrade'
}}
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'base')}}selected{{/if}} value='base'>Base</option>
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'intermediate')}}selected{{/if}} value='intermediate'>Intermediate</option>
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'advanced')}}selected{{/if}} value='advanced'>Advanced</option>
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'arcane')}}selected{{/if}} value='arcane'>Arcane</option>
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#if this.defenseSent}}
  <div class='defense-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      Magic defense sent. Waiting for combat results...
    </p>
  </div>
{{else}}
  <button class='send-mystic-defense'>
    Send magic defense
  </button>
{{/if}}