{{#if this.defender.mystic.supernaturalShield.newShield}}
{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize "macros.combat.dialog.zeonAccumulated.title")
  disabled=true
  inputName="defender.mystic.spellCasting.zeon.accumulated"
  inputValue=this.defender.mystic.spellCasting.zeon.accumulated
}}
{{/if}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.modifier.title')
  disabled=this.defenseSent
  inputName="defender.mystic.modifier"
  inputValue=this.defender.mystic.modifier
}}
{{#if (is "gt" this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 0)}}
  {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
    title=(localize 'anima.ui.mystic.metamagics.definedMagicProjection.title')
    disabled=this.defenseSent
    inputName='defender.mystic.metamagics.definedMagicProjection'
  }}
    <option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 0)}}selected{{/if}} value='0'>0</option>
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 0)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 1)}}selected{{/if}} value='1'>120</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 1)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 2)}}selected{{/if}} value='2'>140</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 2)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 3)}}selected{{/if}} value='3'>180</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 3)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 4)}}selected{{/if}} value='4'>240</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 4)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 5)}}selected{{/if}} value='5'>280</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 5)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 6)}}selected{{/if}} value='6'>320</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcanePower.definedMagicProjection.sphere 6)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.definedMagicProjection 7)}}selected{{/if}} value='7'>440</option>{{/if}}
  {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
{{/if}}
{{#if (is "eq" this.defender.mystic.metamagics.definedMagicProjection 0)}}
{{> 'systems/animabf/templates/common/ui/horizontal-titled-input.hbs'
  title=(localize 'macros.combat.dialog.magicProjection.title')
  disabled=this.defenseSent
  inputName='defender.mystic.magicProjection.final'
  inputValue=this.defender.mystic.magicProjection.final
}}
{{/if}}
{{#if (and (is "gt" this.defender.actor.system.mystic.magicLevel.metamagics.arcaneWarfare.defensiveExpertise.sphere 0) (is "eq" this.defender.mystic.metamagics.definedMagicProjection 0))}}
  {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
    title=(localize 'anima.ui.mystic.metamagics.defensiveExpertise.title')
    disabled=this.defenseSent
    inputName='defender.mystic.metamagics.defensiveExpertise'
  }}
    <option {{#if (is "eq" ../this.defender.mystic.metamagics.defensiveExpertise 0)}}selected{{/if}} value='0'>0</option>
    <option {{#if (is "eq" ../this.defender.mystic.metamagics.defensiveExpertise 10)}}selected{{/if}} value='10'>10</option>
    <option {{#if (is "eq" ../this.defender.mystic.metamagics.defensiveExpertise 20)}}selected{{/if}} value='20'>20</option>
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcaneWarfare.defensiveExpertise.sphere 1)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.defensiveExpertise 30)}}selected{{/if}} value='30'>30</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcaneWarfare.defensiveExpertise.sphere 1)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.defensiveExpertise 40)}}selected{{/if}} value='40'>40</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcaneWarfare.defensiveExpertise.sphere 2)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.defensiveExpertise 50)}}selected{{/if}} value='50'>50</option>{{/if}}
    {{#if (is "gt" ../this.defender.actor.system.mystic.magicLevel.metamagics.arcaneWarfare.defensiveExpertise.sphere 2)}}<option {{#if (is "eq" ../this.defender.mystic.metamagics.defensiveExpertise 60)}}selected{{/if}} value='60'>60</option>{{/if}}
  {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
{{/if}}
{{#if this.defender.mystic.supernaturalShield.newShield}}
{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.spell.title')
  disabled=this.defenseSent
  inputName='defender.mystic.spellUsed'
}}
  {{#each_when this.defender.actor.system.mystic.spells "system" "combatType" "value" "defense"}}
    <option {{#if (is "eq" this._id ../this.defender.mystic.spellUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each_when}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.spellGrade.title')
  disabled=this.defenseSent
  inputName='defender.mystic.spellGrade'
}}
{{#each this.defender.mystic.attainableSpellGrades}}
  <option {{#if (is "eq" ../this.defender.mystic.spellGrade this)}}selected{{/if}} value='{{this}}'>{{localize (concat 'macros.combat.dialog.spellGrade.' this '.title')}}</option>
{{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

  {{#if (and this.defender.mystic.spellCasting.canCast.innate (is 'eq' this.defender.mystic.spellCasting.override false))}}
  <div class='columns'>
    <div>
      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.castInnate.title')
      disabled=this.defenseSent
      inputType="checkbox"
      inputName="defender.mystic.spellCasting.casted.innate"
      inputValue=(is 'eq' this.defender.mystic.spellCasting.casted.innate true)
      }}
    </div>
  </div>
  {{/if}}

  {{#if (and this.defender.mystic.spellCasting.canCast.prepared (is 'eq' this.defender.mystic.spellCasting.override false))}}
  <div class='columns'>
    <div>
      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.castPrepared.title')
      disabled=this.defenseSent
      inputType="checkbox"
      inputName="defender.mystic.spellCasting.casted.prepared"
      inputValue=(is 'eq' this.defender.mystic.spellCasting.casted.prepared true)
      }}
    </div>
  </div>
  {{/if}}

{{else}}
  {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
    title=(localize 'macros.combat.dialog.mysticShield.title')
    disabled=this.defenseSent
    inputName='defender.mystic.supernaturalShield.shieldUsed'
  }}
    {{#each_when this.defender.actor.system.combat.supernaturalShields "system" "type" "" "mystic"}}
      {{#if (is "eq" this.system.origin ../this.defender.actor.uuid)}}
        <option {{#if (is "eq" this._id ../this.defender.mystic.supernaturalShield.shieldUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
      {{/if}}
    {{/each_when}}
  {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

  {{>
  "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
    title=(localize "macros.combat.dialog.shieldValue.title")
    disabled=this.defenseSent
    inputName="defender.mystic.supernaturalShield.shieldValue"
    inputValue=this.defender.mystic.supernaturalShield.shieldValue
  }}
{{/if}}

<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.newShield.title')
      inputType="checkbox"
      inputName="defender.mystic.supernaturalShield.newShield"
      inputValue=(is 'eq' defender.mystic.supernaturalShield.newShield true)
    }}
  </div>
</div>

{{#if (and this.defender.mystic.overrideMysticCast this.defender.mystic.supernaturalShield.newShield)}}
<hr class='hr'/>
<div class='columns'>
  <div>
    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
    title=(localize 'macros.combat.dialog.castOverride.title')
    disabled=this.defenseSent
    inputType="checkbox"
    inputName="defender.mystic.spellCasting.override"
    inputValue=(is 'eq' this.defender.mystic.spellCasting.override true)
    }}
  </div>
</div>
{{/if}}

{{#if this.defenseSent}}
  <div class='defense-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      {{localize 'macros.combat.dialog.defenseSent.title'}}
    </p>
  </div>
{{else}}
  <button class='abf-button send-mystic-defense'>
    {{localize 'macros.combat.dialog.defenseButton.title'}}
  </button>
{{/if}}
