{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.modifier.title')
  disabled=this.defenseSent
  inputName="defender.mystic.modifier"
  inputValue=this.defender.mystic.modifier
}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.magicProjection.title')
  disabled=this.defenseSent
  inputName='defender.mystic.magicProjectionType'
}}
  <option {{#if (is "eq" this.defender.mystic.magicProjectionType 'normal')}}selected{{/if}} value='normal'>{{concat (localize 'macros.combat.dialog.magicProjection.normal.title') " (" this.defender.actor.data.data.mystic.magicProjection.final.value ")" }}</option>
  <option {{#if (is "eq" this.defender.mystic.magicProjectionType 'defensive')}}selected{{/if}} value='defensive'>{{concat (localize 'macros.combat.dialog.magicProjection.defensive.title') " (" this.defender.actor.data.data.mystic.magicProjection.imbalance.offensive.final.value ")" }}</option>
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.spell.title')
  disabled=this.defenseSent
  inputName='defender.mystic.spellUsed'
}}
  {{#each this.defender.actor.data.data.mystic.spells}}
    <option {{#if (is "eq" this._id ../this.defender.mystic.spellUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.spellGrade.title')
  disabled=this.defenseSent
  inputName='defender.mystic.spellGrade'
}}
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'base')}}selected{{/if}} value='base'>{{localize 'macros.combat.dialog.spellGrade.base.title'}}</option>
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'intermediate')}}selected{{/if}} value='intermediate'>{{localize 'macros.combat.dialog.spellGrade.intermediate.title'}}</option>
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'advanced')}}selected{{/if}} value='advanced'>{{localize 'macros.combat.dialog.spellGrade.advanced.title'}}</option>
  <option {{#if (is "eq" this.defender.mystic.spellGrade 'arcane')}}selected{{/if}} value='arcane'>{{localize 'macros.combat.dialog.spellGrade.arcane.title'}}</option>
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#if this.defenseSent}}
  <div class='defense-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      {{localize 'macros.combat.dialog.defenseSent.title'}}
    </p>
  </div>
{{else}}
  <button class='abf-button send-mystic-defense'>
    {{localize 'macros.combat.dialog.defenseButton.title'}}
  </button>
{{/if}}