{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.modifier.title')
  disabled=this.defenseSent
  inputName="defender.psychic.modifier"
  inputValue=this.defender.psychic.modifier
}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.psychicProjection.title')
  disabled=this.defenseSent
  inputName="defender.psychic.psychicProjection"
  inputValue=this.defender.psychic.psychicProjection
}}

{{#if this.defender.psychic.newShield}}
{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.psychicPotential.title')
  disabled=this.defenseSent
  inputName="defender.psychic.psychicPotential.special"
  inputValue=this.defender.psychic.psychicPotential.special
  hasSecondaryInput=true
  disableSecondaryInput=true
  secondaryInputName="defender.psychic.psychicPotential.final"
  secondaryInputValue=this.defender.psychic.psychicPotential.final
}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.psychicPower.title')
  disabled=this.defenseSent
  inputName='defender.psychic.powerUsed'
}}
  {{#each_when this.defender.actor.system.psychic.psychicPowers "system" "combatType" "value" "defense"}}
    <option {{#if (is "eq" this._id ../this.defender.psychic.powerUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each_when}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{else}}
{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.psychicShield.title')
  disabled=this.defenseSent
  inputName='defender.psychic.shieldUsed'
}}
  {{#each this.defender.actor.system.psychic.psychicShields}}
    <option {{#if (is "eq" this._id ../this.defender.psychic.shieldUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize "macros.combat.dialog.shieldValue.title")
  disabled=this.defenseSent
  inputName="defender.psychic.shieldValue"
  inputValue=this.defender.psychic.shieldValue
}}
{{/if}}

<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.newShield.title')
      inputType="checkbox"
      inputName="defender.psychic.newShield"
      inputValue=(is 'eq' defender.psychic.newShield true)
    }}
  </div>
</div>

{{#if this.defenseSent}}
  <div class='defense-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      {{localize 'macros.combat.dialog.defenseSent.title'}}
    </p>
  </div>
{{else}}
  <button class='abf-button send-psychic-defense'>
    {{localize 'macros.combat.dialog.defenseButton.title'}}
  </button>
{{/if}}
