<form class="{{cssClass}} actor-sheet" autocomplete="off">
  <header class='header-fields'>
    {{> (sysTpl "templates/actor/parts/header/header.hbs") }}
  </header>

  {{!-- Character Sheet Navigation --}}
  <nav class="animabf-tabs sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "anima.ui.tabs.main"}}</a>
    <a class="item" data-tab="secondaries">{{localize "anima.ui.tabs.secondaries"}}</a>
    <a class="item" data-tab="combat">{{localize "anima.ui.tabs.combat"}}</a>
    {{#if system.ui.tabVisibility.mystic.value}}
      <a class="item" data-tab="mystic">{{localize "anima.ui.tabs.mystic"}}</a>
    {{/if}}
    {{#if system.ui.tabVisibility.domine.value}}
      <a class="item" data-tab="domine">{{localize "anima.ui.tabs.domine"}}</a>
    {{/if}}
    {{#if system.ui.tabVisibility.psychic.value}}
      <a class="item" data-tab="psychic">{{localize "anima.ui.tabs.psychic"}}</a>
    {{/if}}
    {{#if system.ui.tabVisibility.effects.value}}
      <a class="item" data-tab="effects">{{localize "anima.ui.tabs.effects"}}</a> 
    {{/if}}
    <a class="item" data-tab="settings">
      <img src='{{sysAsset "assets/icons/game-icons.net/ffffff/lorc/cog.svg"}}'>
    </a>
  </nav>

  <section class="sheet-body">
    <div class="tab main" data-group="primary" data-tab="main">
      {{> (sysTpl "templates/actor/parts/general/general.hbs") }}
    </div>

    <div class="tab secondaries" data-group="primary" data-tab="secondaries">
      {{> (sysTpl "templates/actor/parts/secondaries/secondaries.hbs") }}
    </div>

    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> (sysTpl "templates/actor/parts/combat/combat.hbs") }}
    </div>

    <div class="tab mystic" data-group="primary" data-tab="mystic">
      {{> (sysTpl "templates/actor/parts/mystic/mystic.hbs") }}
    </div>

    <div class="tab domine" data-group="primary" data-tab="domine">
      {{> (sysTpl "templates/actor/parts/domine/domine.hbs") }}
    </div>

    <div class="tab psychics" data-group="primary" data-tab="psychic">
      {{> (sysTpl "templates/actor/parts/psychic/psychic.hbs") }}
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/animabf/templates/actor/parts/effects/effects.hbs"}}
    </div>

    <div class="tab settings" data-group="primary" data-tab="settings">
      {{> (sysTpl "templates/actor/parts/settings/settings.hbs") }}
    </div>
  </section>
</form>
