<form>
  <div class='form-group'>
    <div>
    {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
      title=(localize 'dialogs.spell.title')
      inputName='new.mysticShield.id'
    }}
      {{#each_when data.actor.system.mystic.spells "system" "spellType" "value" "defense"}}
        <option value='{{this._id}}'>{{this.name}}</option>
      {{/each_when}}
    {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

    {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
      title=(localize 'dialogs.spellGrade.title')
      inputName='new.mysticShield.grade'
    }}
      <option value='base'>{{localize 'dialogs.spellGrade.base.title'}}</option>
      <option value='intermediate'>{{localize 'dialogs.spellGrade.intermediate.title'}}</option>
      <option value='advanced'>{{localize 'dialogs.spellGrade.advanced.title'}}</option>
      <option value='arcane'>{{localize 'dialogs.spellGrade.arcane.title'}}</option>
    {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
    </div>
  </div>
</form>