<form>
  <div class='form-group'>
    <div>
    {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
      title=(localize 'dialogs.psychicDiscipline.title')
      inputName='new.psychicDiscipline.name'
    }}
      <option value='telepathy'>{{localize 'anima.ui.psychic.psychicPowers.discipline.telepathy.title'}}</option>
      <option value='telekenisis'>{{localize 'anima.ui.psychic.psychicPowers.discipline.telekenisis.title'}}</option>
      <option value='pyrokinesis'>{{localize 'anima.ui.psychic.psychicPowers.discipline.pyrokinesis.title'}}</option>
      <option value='cryokinesis'>{{localize 'anima.ui.psychic.psychicPowers.discipline.cryokinesis.title'}}</option>
      <option value='physicalIncrease'>{{localize 'anima.ui.psychic.psychicPowers.discipline.physicalIncrease.title'}}</option>
      <option value='energy'>{{localize 'anima.ui.psychic.psychicPowers.discipline.energy.title'}}</option>
      <option value='telemetry'>{{localize 'anima.ui.psychic.psychicPowers.discipline.telemetry.title'}}</option>
      <option value='sentient'>{{localize 'anima.ui.psychic.psychicPowers.discipline.sentient.title'}}</option>
      <option value='causality'>{{localize 'anima.ui.psychic.psychicPowers.discipline.causality.title'}}</option>
      <option value='electromagnetism'>{{localize 'anima.ui.psychic.psychicPowers.discipline.electromagnetism.title'}}</option>
      <option value='teleportation'>{{localize 'anima.ui.psychic.psychicPowers.discipline.teleportation.title'}}</option>
      <option value='light'>{{localize 'anima.ui.psychic.psychicPowers.discipline.light.title'}}</option>
      <option value='hypersensitivity'>{{localize 'anima.ui.psychic.psychicPowers.discipline.hypersensitivity.title'}}</option>
    {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
    </div>
  </div>
  <div class='columns'>
    <div>
      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'dialogs.psychicDiscipline.imbalance.title')
      inputType="checkbox"
      inputName="new.psychicDiscipline.imbalance"
      inputValue=false
      }}
    </div>
  </div>
</form>


