<form>
  <div class='form-group'>
    <div>
    {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
      title=(localize 'dialogs.actVia.title')
      inputName='new.actVia.name'
    }}
      <option value='air'>{{localize 'anima.ui.mystic.spell.via.air.title'}}</option>
      <option value='blood'>{{localize 'anima.ui.mystic.spell.via.blood.title'}}</option>
      <option value='chaos'>{{localize 'anima.ui.mystic.spell.via.chaos.title'}}</option>
      <option value='creation'>{{localize 'anima.ui.mystic.spell.via.creation.title'}}</option>
      <option value='darkness'>{{localize 'anima.ui.mystic.spell.via.darkness.title'}}</option>
      <option value='death'>{{localize 'anima.ui.mystic.spell.via.death.title'}}</option>
      <option value='destruction'>{{localize 'anima.ui.mystic.spell.via.destruction.title'}}</option>
      <option value='dreams'>{{localize 'anima.ui.mystic.spell.via.dreams.title'}}</option>
      <option value='earth'>{{localize 'anima.ui.mystic.spell.via.earth.title'}}</option>
      <option value='emptiness'>{{localize 'anima.ui.mystic.spell.via.emptiness.title'}}</option>
      <option value='essence'>{{localize 'anima.ui.mystic.spell.via.essence.title'}}</option>
      <option value='fire'>{{localize 'anima.ui.mystic.spell.via.fire.title'}}</option>
      <option value='freeAccess'>{{localize 'anima.ui.mystic.spell.via.freeAccess.title'}}</option>
      <option value='illusion'>{{localize 'anima.ui.mystic.spell.via.illusion.title'}}</option>
      <option value='knowledge'>{{localize 'anima.ui.mystic.spell.via.knowledge.title'}}</option>
      <option value='light'>{{localize 'anima.ui.mystic.spell.via.light.title'}}</option>
      <option value='literae'>{{localize 'anima.ui.mystic.spell.via.literae.title'}}</option>
      <option value='musical'>{{localize 'anima.ui.mystic.spell.via.musical.title'}}</option>
      <option value='necromancy'>{{localize 'anima.ui.mystic.spell.via.necromancy.title'}}</option>
      <option value='nobility'>{{localize 'anima.ui.mystic.spell.via.nobility.title'}}</option>
      <option value='peace'>{{localize 'anima.ui.mystic.spell.via.peace.title'}}</option>
      <option value='sin'>{{localize 'anima.ui.mystic.spell.via.sin.title'}}</option>
      <option value='threshold'>{{localize 'anima.ui.mystic.spell.via.threshold.title'}}</option>
      <option value='time'>{{localize 'anima.ui.mystic.spell.via.time.title'}}</option>
      <option value='war'>{{localize 'anima.ui.mystic.spell.via.war.title'}}</option>
      <option value='water'>{{localize 'anima.ui.mystic.spell.via.water.title'}}</option>
    {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
    </div>
  </div>
</form>


