{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="ki-accumulation"
}}
  {{#>
  "systems/animabf/templates/common/ui/group-header.hbs"
  }}
    <p class='label accumulation'>{{localize "anima.ui.domine.kiAccumulation.accumulation.title"}}</p>
    <p class='label title'>{{localize "anima.ui.domine.kiAccumulation.title"}}</p>
  {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="ki-accumulation"
  }}
    <div class='red-background'></div>
    <div class='accumulation-row'>
      <p class='label accumulation-row-title'>{{localize "anima.ui.domine.kiAccumulation.strength.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="strength-accumulation accumulation-row-accumulation"
        hideTitle=true
        inputName="data.domine.kiAccumulation.strength.base.value"
        inputValue=data.data.domine.kiAccumulation.strength.base.value
        hasSecondaryInput=true
        addTooltips=true
        disableSecondaryInput=true
        secondaryInputName="data.domine.kiAccumulation.strength.final.value"
        secondaryInputValue=data.data.domine.kiAccumulation.strength.final.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="current-strength-reserve accumulation-row-reserve"
        hideTitle=true
        inputName="data.domine.kiAccumulation.strength.accumulated.value"
        inputValue=data.data.domine.kiAccumulation.strength.accumulated.value
      }}
    </div>
    <div class='accumulation-row'>
      <p class='label accumulation-row-title'>{{localize "anima.ui.domine.kiAccumulation.agility.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="agility-accumulation accumulation-row-accumulation"
        hideTitle=true
        inputName="data.domine.kiAccumulation.agility.base.value"
        inputValue=data.data.domine.kiAccumulation.agility.base.value
        hasSecondaryInput=true
        addTooltips=true
        disableSecondaryInput=true
        secondaryInputName="data.domine.kiAccumulation.agility.final.value"
        secondaryInputValue=data.data.domine.kiAccumulation.agility.final.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="current-agility-reserve accumulation-row-reserve"
        hideTitle=true
        inputName="data.domine.kiAccumulation.agility.accumulated.value"
        inputValue=data.data.domine.kiAccumulation.agility.accumulated.value
      }}
    </div>
    <div class='accumulation-row'>
      <p class='label accumulation-row-title'>{{localize "anima.ui.domine.kiAccumulation.dexterity.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="dexterity-accumulation accumulation-row-accumulation"
        hideTitle=true
        inputName="data.domine.kiAccumulation.dexterity.base.value"
        inputValue=data.data.domine.kiAccumulation.dexterity.base.value
        hasSecondaryInput=true
        addTooltips=true
        disableSecondaryInput=true
        secondaryInputName="data.domine.kiAccumulation.dexterity.final.value"
        secondaryInputValue=data.data.domine.kiAccumulation.dexterity.final.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="current-dexterity-reserve accumulation-row-reserve"
        hideTitle=true
        inputName="data.domine.kiAccumulation.dexterity.accumulated.value"
        inputValue=data.data.domine.kiAccumulation.dexterity.accumulated.value
      }}
    </div>
    <div class='accumulation-row'>
      <p class='label accumulation-row-title'>{{localize "anima.ui.domine.kiAccumulation.constitution.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="constitution-accumulation accumulation-row-accumulation"
        hideTitle=true
        inputName="data.domine.kiAccumulation.constitution.base.value"
        inputValue=data.data.domine.kiAccumulation.constitution.base.value
        hasSecondaryInput=true
        addTooltips=true
        disableSecondaryInput=true
        secondaryInputName="data.domine.kiAccumulation.constitution.final.value"
        secondaryInputValue=data.data.domine.kiAccumulation.constitution.final.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="current-constitution-reserve accumulation-row-reserve"
        hideTitle=true
        inputName="data.domine.kiAccumulation.constitution.accumulated.value"
        inputValue=data.data.domine.kiAccumulation.constitution.accumulated.value
      }}
    </div>
    <div class='accumulation-row'>
      <p class='label accumulation-row-title'>{{localize "anima.ui.domine.kiAccumulation.willPower.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="willPower-accumulation accumulation-row-accumulation"
        hideTitle=true
        inputName="data.domine.kiAccumulation.willPower.base.value"
        inputValue=data.data.domine.kiAccumulation.willPower.base.value
        hasSecondaryInput=true
        addTooltips=true
        disableSecondaryInput=true
        secondaryInputName="data.domine.kiAccumulation.willPower.final.value"
        secondaryInputValue=data.data.domine.kiAccumulation.willPower.final.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="current-willPower-reserve accumulation-row-reserve"
        hideTitle=true
        inputName="data.domine.kiAccumulation.willPower.accumulated.value"
        inputValue=data.data.domine.kiAccumulation.willPower.accumulated.value
      }}
    </div>
    <div class='accumulation-row'>
      <p class='label accumulation-row-title'>{{localize "anima.ui.domine.kiAccumulation.power.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="power-accumulation accumulation-row-accumulation"
        hideTitle=true
        inputName="data.domine.kiAccumulation.power.base.value"
        inputValue=data.data.domine.kiAccumulation.power.base.value
        hasSecondaryInput=true
        addTooltips=true
        disableSecondaryInput=true
        secondaryInputName="data.domine.kiAccumulation.power.final.value"
        secondaryInputValue=data.data.domine.kiAccumulation.power.final.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="current-power-reserve accumulation-row-reserve"
        hideTitle=true
        inputName="data.domine.kiAccumulation.power.accumulated.value"
        inputValue=data.data.domine.kiAccumulation.power.accumulated.value
      }}
    </div>
    <div class='accumulation-row generic-accumulation-row'>
      <p class='label accumulation-row-title'>{{localize "anima.ui.domine.kiAccumulation.reserve.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="current-generic-reserve accumulation-row-reserve"
        hideTitle=true
        inputName="data.domine.kiAccumulation.generic.value"
        inputValue=data.data.domine.kiAccumulation.generic.value
        hasSecondaryInput=true
        addTooltips=true
        secondaryInputName="data.domine.kiAccumulation.generic.max"
        secondaryInputValue=data.data.domine.kiAccumulation.generic.max
      }}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}