{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="seals"
}}
  {{#>
  "systems/animabf/templates/common/ui/group-header.hbs"
  }}
    <p class='label title'>{{localize "anima.ui.domine.seals.title"}}</p>
    <p class='label minor-seal-title'>{{localize "anima.ui.domine.seals.minor.title"}}</p>
    <p class='label major-seal-title'>{{localize "anima.ui.domine.seals.major.title"}}</p>
  {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="seals"
  }}
    <div class='red-background'></div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.earth.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-earth-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.minor.earth.isActive.value"
        inputValue=data.data.domine.seals.minor.earth.isActive.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-earth-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.major.earth.isActive.value"
        inputValue=data.data.domine.seals.major.earth.isActive.value
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.metal.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-metal-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.minor.metal.isActive.value"
        inputValue=data.data.domine.seals.minor.metal.isActive.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-earth-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.major.metal.isActive.value"
        inputValue=data.data.domine.seals.major.metal.isActive.value
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.wind.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-wind-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.minor.wind.isActive.value"
        inputValue=data.data.domine.seals.minor.wind.isActive.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-earth-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.major.wind.isActive.value"
        inputValue=data.data.domine.seals.major.wind.isActive.value
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.water.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-water-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.minor.water.isActive.value"
        inputValue=data.data.domine.seals.minor.water.isActive.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-earth-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.major.water.isActive.value"
        inputValue=data.data.domine.seals.major.water.isActive.value
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.wood.title"}}</p>

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-wood-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.minor.wood.isActive.value"
        inputValue=data.data.domine.seals.minor.wood.isActive.value
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-earth-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="data.domine.seals.major.wood.isActive.value"
        inputValue=data.data.domine.seals.major.wood.isActive.value
      }}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}