{{#> "systems/abf/templates/common/ui/group.hbs"
  class="seals"
}}
  {{#>
  "systems/abf/templates/common/ui/group-header.hbs"
  }}
    <p class='label title'>{{localize "anima.ui.domine.seals.title"}}</p>
    <p class='label minor-seal-title'>{{localize "anima.ui.domine.seals.minor.title"}}</p>
    <p class='label major-seal-title'>{{localize "anima.ui.domine.seals.major.title"}}</p>
  {{/"systems/abf/templates/common/ui/group-header.hbs"}}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="seals"
  }}
    <div class='red-background'></div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.wood.title"}}</p>

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-wood-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.minor.wood.isActive"
        inputValue=system.domine.seals.minor.wood.isActive
      }}

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-wood-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.major.wood.isActive"
        inputValue=system.domine.seals.major.wood.isActive
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.metal.title"}}</p>

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-metal-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.minor.metal.isActive"
        inputValue=system.domine.seals.minor.metal.isActive
      }}

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-metal-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.major.metal.isActive"
        inputValue=system.domine.seals.major.metal.isActive
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.wind.title"}}</p>

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-wind-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.minor.wind.isActive"
        inputValue=system.domine.seals.minor.wind.isActive
      }}

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-wind-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.major.wind.isActive"
        inputValue=system.domine.seals.major.wind.isActive
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.water.title"}}</p>

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-water-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.minor.water.isActive"
        inputValue=system.domine.seals.minor.water.isActive
      }}

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-water-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.major.water.isActive"
        inputValue=system.domine.seals.major.water.isActive
      }}
    </div>
    <div class='seal-row'>
      <p class='label seal-row-title'>{{localize "anima.ui.domine.seals.fire.title"}}</p>

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="minor-fire-seal minor-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.minor.fire.isActive"
        inputValue=system.domine.seals.minor.fire.isActive
      }}

      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="major-fire-seal major-seal"
        hideTitle=true
        inputType="checkbox"
        inputName="system.domine.seals.major.fire.isActive"
        inputValue=system.domine.seals.major.fire.isActive
      }}
    </div>
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
