{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="psychic-powers"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.psychic.psychicPowers.title")
    addRowButtonData="add-psychic-power"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="psychic-powers"
  }}
    {{#each system.psychic.psychicPowers as |power|}}
      <div data-item-id='{{power._id}}' class='psychic-power-row'>
        {{#> "systems/animabf/templates/common/ui/group.hbs"
          class="psychic-power"
          contractible=true
          contractibleItemId=power._id
        }}
          {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
            <div class='psychic-power-header'>
              <div class='first-row'>
                {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                  class="name"
                  hideTitle=true
                  inputType="text"
                  inputName=(concat "system.dynamic.psychicPowers." power._id ".name")
                  inputValue=power.name
                }}
              </div>
              <div class='second-row'>
                {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                  class="level"
                  title=(localize "anima.ui.psychic.psychicPowers.power.header.level.title")
                  inputType="text"
                  inputName=(concat "system.dynamic.psychicPowers." power._id ".system.level.value")
                  inputValue=power.system.level.value
                }}
                {{>
                'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                  class="combat-type"
                  choices=xRoot.config.iterables.psychic.combatTypes
                  title=(localize "anima.ui.psychic.psychicPowers.power.header.combatType.title")
                  inputName=(concat "system.dynamic.psychicPowers." power._id ".system.combatType.value")
                  inputValue=power.system.combatType.value
                }}
                {{>
                'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                  class="action-type"
                  choices=xRoot.config.iterables.psychic.actionTypes
                  title=(localize "anima.ui.psychic.psychicPowers.power.header.actionType.title")
                  inputName=(concat "system.dynamic.psychicPowers." power._id ".system.actionType.value")
                  inputValue=power.system.actionType.value
                }}
              </div>
            </div>
          {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-body.hbs"
            class="psychic-power"
          }}
          <div class='effect-row'>
            {{#if (is 'eq' power.system.combatType.value 'attack')}}
              <p class="damage-title">
                {{localize "anima.ui.mystic.spell.grade.damage.title"}}
              </p>
            {{/if}}
            {{#if (is 'eq' power.system.combatType.value 'defense')}}
              <p class="shield-points-title">
                {{localize "anima.ui.mystic.spell.grade.shieldPoints.title"}}
              </p>
            {{/if}}
            <p class="description-title">
              {{localize "anima.ui.mystic.spell.grade.description.title"}}
            </p>
          </div>
            {{#each power.system.effects as |effect key|}}
              <div class='effect-row'>
                <button
                  type="button"
                  class="input difficulty psychic-cast-button"
                  data-on-click="castPsychicPowerDifficulty"
                  data-power-id="{{power._id}}"
                  data-difficulty="{{key}}"
                >
                  {{key}}
                </button>
                {{#if (is 'eq' power.system.combatType.value 'attack')}}
                  {{>
                  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                    class="damage"
                    hideTitle=true
                    title=(localize "anima.ui.mystic.spell.grade.damage.title")
                    inputName=(concat "system.dynamic.psychicPowers." power._id ".system.effects." key ".damage.value")
                    inputValue=effect.damage.value
                  }}
                {{/if}}
                {{#if (is 'eq' power.system.combatType.value 'defense')}}
                  {{>
                  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                    class="shield-points"
                    hideTitle=true
                    title=(localize "anima.ui.mystic.spell.grade.shieldPoints.title")
                    inputName=(concat "system.dynamic.psychicPowers." power._id ".system.effects." key ".shieldPoints.value")
                    inputValue=effect.shieldPoints.value
                  }}
                {{/if}}
                <input
                  type='text'
                  class='input description'
                  name='{{concat "system.dynamic.psychicPowers." power._id ".system.effects." key ".value"}}'
                  value='{{effect.value}}'
                />
              </div>
            {{/each}}
          {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-footer.hbs"}}
            <div class='psychic-power-footer'>
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="has-maintenance"
                title=(localize "anima.ui.psychic.psychicPowers.power.footer.hasMaintenance.title")
                inputType="checkbox"
                inputName=(concat "system.dynamic.psychicPowers." power._id ".system.hasMaintenance.value")
                inputValue=(is 'eq' power.system.hasMaintenance.value true)
              }}
              {{>
              'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                class="critic"
                disabled=true
                choices=xRoot.config.iterables.combat.weapon.criticTypesWithNone
                inputName=(concat "system.dynamic.psychicPowers." power._id ".system.critic.value")
                inputValue=power.system.critic.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="bonus"
                title=(localize "anima.ui.psychic.psychicPowers.power.footer.bonus.title")
                inputName=(concat "system.dynamic.psychicPowers." power._id ".system.bonus.value")
                inputValue=power.system.bonus.value
              }}

              <button
                type="button"
                class="psychic-cast-button"
                data-on-click="castPsychicPower"
                data-power-id="{{power._id}}"
              >
                {{localize "anima.ui.psychic.psychicPowers.castButton.title"}}
              </button>
            </div>
          {{/"systems/animabf/templates/common/ui/group-footer.hbs"}}
        {{/"systems/animabf/templates/common/ui/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
