<div class='spheres'>
  <div class='spheres-container'>
    <img src='/systems/animabf/assets/images/mystic/spheres.png' alt='spheres' />
    <p class='label title'>{{localize "anima.ui.mystic.magicLevel.spheres.title"}}</p>
    <div class='essence-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.essence.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.essence.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.essence.value}}'/>
    </div>
    <div class='water-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.water.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.water.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.water.value}}'/>
    </div>
    <div class='earth-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.earth.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.earth.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.earth.value}}'/>
    </div>
    <div class='creation-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.creation.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.creation.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.creation.value}}'/>
    </div>
    <div class='darkness-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.darkness.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.darkness.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.darkness.value}}'/>
    </div>
    <div class='necromancy-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.necromancy.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.necromancy.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.necromancy.value}}'/>
    </div>
    <div class='light-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.light.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.light.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.light.value}}'/>
    </div>
    <div class='destruction-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.destruction.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.destruction.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.destruction.value}}'/>
    </div>
    <div class='air-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.air.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.air.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.air.value}}'/>
    </div>
    <div class='fire-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.fire.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.fire.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.fire.value}}'/>
    </div>
    <div class='illusion-sphere sphere'>
      <p class='label sphere-name'>
        {{localize "anima.ui.mystic.magicLevel.spheres.illusion.title"}}
      </p>
      <input name='data.mystic.magicLevel.spheres.illusion.value' class='sphere-value' type='number' value='{{data.data.mystic.magicLevel.spheres.illusion.value}}'/>
    </div>
    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      class="total"
      title=(localize "anima.ui.mystic.magicLevel.total.title")
      inputName="data.mystic.magicLevel.total.value"
      inputValue=data.data.mystic.magicLevel.total.value
    }}

    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      class="used"
      title=(localize "anima.ui.mystic.magicLevel.used.title")
      inputName="data.mystic.magicLevel.used.value"
      inputValue=data.data.mystic.magicLevel.used.value
    }}

  </div>
</div>