{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.modifier.title')
  disabled=this.attackSent
  inputName="attacker.combat.modifier"
  inputValue=this.attacker.combat.modifier
}}
{{#if this.ui.hasFatiguePoints}}
  {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
    title=(localize 'macros.combat.dialog.fatigue.title')
    disabled=this.attackSent
    inputName="attacker.combat.fatigueUsed"
    inputValue=this.attacker.combat.fatigueUsed
  }}
    <option {{#if (is "eq" 0 this.attacker.combat.fatigueUsed)}}selected{{/if}} value='0'>0</option>

    {{#iterateNumber (minNumber this.attacker.actor.system.characteristics.secondaries.fatigue.value 5)}}
      <option {{#if (is "eq" (math this "+" 1) ../this.attacker.combat.fatigueUsed)}}selected{{/if}} value='{{math this "+" 1}}'>{{math this "+" 1}}</option>
    {{/iterateNumber}}
  {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
{{else}}
  <p class='label no-fatigue'>{{localize 'macros.combat.dialog.notEnoughFatigue.title'}}</p>
{{/if}}

{{#if this.attacker.combat.unarmed}}
  {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
    title=(localize 'macros.combat.dialog.weapon.title')
    disabled=true
  }}
    <option>Unarmed</option>
  {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
{{else}}
  {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
    title=(localize 'macros.combat.dialog.weapon.title')
    disabled=this.attackSent
    inputName='attacker.combat.weaponUsed'
  }}
    {{#each this.attacker.actor.system.combat.weapons}}
      <option {{#if (is "eq" this._id ../this.attacker.combat.weaponUsed)}}selected{{/if}} value='{{this._id}}'>{{localize 'macros.combat.dialog.weaponRow.attack.title' name=this.name value=this.system.attack.final.value}}</option>
    {{/each}}
  {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
{{/if}}

{{#unless this.attacker.combat.unarmed}}
  {{#if this.ui.weaponHasSecondaryCritic}}
    {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
      title=(localize 'macros.combat.dialog.weapon.critic.title')
      disabled=this.attackSent
      inputName='attacker.combat.criticSelected'
    }}
      <option {{#if (is "eq" this.attacker.combat.weapon.system.critic.primary.value this.attacker.combat.criticSelected)}}selected{{/if}} value='{{this.attacker.combat.weapon.system.critic.primary.value}}'>{{localize (concat 'anima.ui.combat.armors.at.' this.attacker.combat.weapon.system.critic.primary.value '.title')}}</option>
      <option {{#if (is "eq" this.attacker.combat.weapon.system.critic.secondary.value this.attacker.combat.criticSelected)}}selected{{/if}} value='{{this.attacker.combat.weapon.system.critic.secondary.value}}'>{{localize (concat 'anima.ui.combat.armors.at.' this.attacker.combat.weapon.system.critic.secondary.value '.title')}}</option>
    {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
  {{else}}
    {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
      title=(localize 'macros.combat.dialog.weapon.critic.title')
      disabled=true
      inputName='attacker.combat.criticSelected'
    }}
      <option selected value='{{this.attacker.combat.weapon.system.critic.primary.value}}'>{{localize (concat 'anima.ui.combat.armors.at.' this.attacker.combat.weapon.system.critic.primary.value '.title')}}</option>
    {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
  {{/if}}
{{/unless}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.damage.title')
  inputName="attacker.combat.damage.special"
  inputValue=this.attacker.combat.damage.special
  disabled=this.attackSent
  hasSecondaryInput=true
  disableSecondaryInput=true
  secondaryInputName="attacker.combat.damage.final"
  secondaryInputValue=this.attacker.combat.damage.final
}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.specificAttack.title')
  disabled=this.attackSent
  inputName='attacker.combat.specificAttack.value'
}}
  {{#each this.attacker.specificAttacks}}
    <option {{#if (is "eq" ../this.attacker.combat.specificAttack.value this)}}selected{{/if}} value='{{this}}'>{{localize (concat 'macros.combat.dialog.specificAttack.' this '.title')}}</option>
  {{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#if (and (is 'neq' this.attacker.combat.specificAttack.value 'none') (is 'neq' this.attacker.combat.specificAttack.value 'disarm'))}}
<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.specificAttack.causeDamage.title')
      inputType="checkbox"
      inputName="attacker.combat.specificAttack.causeDamage"
      inputValue=(is 'eq' this.attacker.combat.specificAttack.causeDamage true)
    }}
  </div>
</div>
{{/if}}

{{#if this.attacker.combat.projectile.value}}
{{#if (is 'eq' this.attacker.combat.distance.enable false)}}
<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.distance.title')
      inputType="checkbox"
      inputName="attacker.combat.distance.check"
      inputValue=(is 'eq' this.attacker.combat.distance.check true)
    }}
  </div>
</div>
{{/if}}
<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.highGround.title')
      inputType="checkbox"
      inputName="attacker.combat.highGround"
      inputValue=(is 'eq' this.attacker.combat.highGround true)
    }}
  </div>
</div>
<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.poorVisibility.title')
      inputType="checkbox"
      inputName="attacker.poorVisibility"
      inputValue=(is 'eq' this.attacker.poorVisibility true)
    }}
  </div>
</div>
<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.targetInCover.title')
      inputType="checkbox"
      inputName="attacker.targetInCover"
      inputValue=(is 'eq' this.attacker.targetInCover true)
    }}
  </div>
</div>
{{/if}}

{{#if this.attackSent}}
  <div class='attack-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      {{localize 'macros.combat.dialog.attackSent.title'}}
    </p>
  </div>
{{else}}
  <button class='abf-button send-attack'>
    {{localize 'macros.combat.dialog.attackButton.title'}}
  </button>
{{/if}}
