{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize "macros.combat.dialog.zeonAccumulated.title")
  disabled=true
  inputName="attacker.mystic.spellCasting.zeon.accumulated"
  inputValue=this.attacker.mystic.spellCasting.zeon.accumulated
}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.modifier.title')
  disabled=this.attackSent
  inputName="attacker.mystic.modifier"
  inputValue=this.attacker.mystic.modifier
}}

{{> 'systems/animabf/templates/common/ui/horizontal-titled-input.hbs'
  title=(localize 'macros.combat.dialog.magicProjection.title')
  disabled=this.attackSent
  inputName='attacker.mystic.magicProjection.final'
  inputValue=this.attacker.mystic.magicProjection.final
}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.spell.title')
  disabled=this.attackSent
  inputName='attacker.mystic.spellUsed'
}}
  {{#each_when this.attacker.actor.system.mystic.spells "system" "combatType" "value" "attack"}}
    <option {{#if (is "eq" this._id ../this.attacker.mystic.spellUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each_when}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.spellGrade.title')
  disabled=this.attackSent
  inputName='attacker.mystic.spellGrade'
}}
{{#each this.attacker.mystic.attainableSpellGrades}}
  <option {{#if (is "eq" ../this.attacker.mystic.spellGrade this)}}selected{{/if}} value='{{this}}'>{{localize (concat 'macros.combat.dialog.spellGrade.' this '.title')}}</option>
{{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{> 'systems/animabf/templates/common/ui/custom-select-choices.hbs'
  disabled=this.attackSent
  choices=config.iterables.combat.criticTypesWithNone
  title=(localize "macros.combat.dialog.weapon.critic.title")
  inputName='attacker.mystic.critic'
  inputValue=this.attacker.mystic.critic
}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize "macros.combat.dialog.damage.title")
  disabled=this.attackSent
  inputName="attacker.mystic.damage.special"
  inputValue=this.attacker.mystic.damage.special
  hasSecondaryInput=true
  disableSecondaryInput=true
  secondaryInputName="attacker.mystic.damage.final"
  secondaryInputValue=attacker.mystic.damage.final
}}


{{#if (is 'eq' this.attacker.distance.enable false)}}
<div class='columns'>
  <div>
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.distance.title')
      inputType="checkbox"
      inputName="attacker.mystic.distanceCheck"
      inputValue=(is 'eq' this.attacker.mystic.distanceCheck true)
    }}
  </div>
</div>
{{/if}}

{{#if (and this.attacker.mystic.spellCasting.canCast.innate (is 'eq' this.attacker.mystic.spellCasting.override false))}}
<div class='columns'>
  <div>
    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
    title=(localize 'macros.combat.dialog.castInnate.title')
    disabled=this.attackSent
    inputType="checkbox"
    inputName="attacker.mystic.spellCasting.casted.innate"
    inputValue=(is 'eq' this.attacker.mystic.spellCasting.casted.innate true)
    }}
  </div>
</div>
{{/if}}

{{#if (and this.attacker.mystic.spellCasting.canCast.prepared (is 'eq' this.attacker.mystic.spellCasting.override false))}}
<div class='columns'>
  <div>
    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
    title=(localize 'macros.combat.dialog.castPrepared.title')
    disabled=this.attackSent
    inputType="checkbox"
    inputName="attacker.mystic.spellCasting.casted.prepared"
    inputValue=(is 'eq' this.attacker.mystic.spellCasting.casted.prepared true)
    }}
  </div>
</div>
{{/if}}

{{#if this.attacker.mystic.overrideMysticCast}}
<hr class='hr'/>
<div class='columns'>
  <div>
    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
    title=(localize 'macros.combat.dialog.castOverride.title')
    disabled=this.attackSent
    inputType="checkbox"
    inputName="attacker.mystic.spellCasting.override"
    inputValue=(is 'eq' this.attacker.mystic.spellCasting.override true)
    }}
  </div>
</div>
{{/if}}

{{#if this.attackSent}}
  <div class='mystic-attack-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      {{localize 'macros.combat.dialog.attackSent.title'}}
    </p>
  </div>
{{else}}
  <button class='abf-button send-mystic-attack'>
    {{localize 'macros.combat.dialog.attackButton.title'}}
  </button>
{{/if}}
