{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.modifier.title')
  disabled=this.attackSent
  inputName="attacker.psychic.modifier"
  inputValue=this.attacker.psychic.modifier
}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.psychicProjection.title')
  disabled=this.attackSent
  inputName="attacker.psychic.psychicProjection"
  inputValue=this.attacker.psychic.psychicProjection
}}

{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.psychicPotential.title')
  disabled=this.attackSent
  inputName="attacker.psychic.psychicPotential.special"
  inputValue=this.attacker.psychic.psychicPotential.special
  hasSecondaryInput=true
  disableSecondaryInput=true
  secondaryInputName="attacker.psychic.psychicPotential.final"
  secondaryInputValue=this.attacker.psychic.psychicPotential.final
}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title=(localize 'macros.combat.dialog.psychicPower.title')
  disabled=this.attackSent
  inputName='attacker.psychic.powerUsed'
}}
  {{#each this.attacker.actor.data.data.psychic.psychicPowers}}
    <option {{#if (is "eq" this._id ../this.attacker.psychic.powerUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}


{{#if this.attackSent}}
  <div class='psychic-attack-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      {{localize 'macros.combat.dialog.attackSent.title'}}
    </p>
  </div>
{{else}}
  <button class='abf-button send-psychic-attack'>
    {{localize 'macros.combat.dialog.attackButton.title'}}
  </button>
{{/if}}