<div class='group aspect'>
  <div class='group-header'>
    <h3 class='group-header-title'>{{localize 'anima.ui.aspectSection.title'}}</h3>
  </div>
  <div class='group-body'>
    <div class='hair flex mr-1'>
      <p class='label'>{{localize 'anima.ui.aspectSection.hair.title'}}</p>
      <input
        name='data.general.aspect.hair.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.hair.value}}'
      />
    </div>
    <div class='eyes flex'>
      <p class='label'>{{localize 'anima.ui.aspectSection.eyes.title'}}</p>
      <input
        name='data.general.aspect.eyes.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.eyes.value}}'
      />
    </div>
    <div class='height flex mr-1'>
      <p class='label'>{{localize 'anima.ui.aspectSection.height.title'}}</p>
      <input
        name='data.general.aspect.height.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.height.value}}'
      />
    </div>
    <div class='weight flex'>
      <p class='label'>{{localize 'anima.ui.aspectSection.weight.title'}}</p>
      <input
        name='data.general.aspect.weight.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.weight.value}}'
      />
    </div>
    <div class='age flex mr-1'>
      <p class='label'>{{localize 'anima.ui.aspectSection.age.title'}}</p>
      <input
        name='data.general.aspect.age.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.age.value}}'
      />
    </div>
    <div class='genre flex'>
      <p class='label'>{{localize 'anima.ui.aspectSection.genre.title'}}</p>
      <input
        name='data.general.aspect.genre.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.genre.value}}'
      />
    </div>
    <div class='race flex mr-1'>
      <p class='label'>{{localize 'anima.ui.aspectSection.race.title'}}</p>
      <input
        name='data.general.aspect.race.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.race.value}}'
      />
    </div>
    <div class='appearance flex'>
      <p class='label'>{{localize 'anima.ui.aspectSection.appearance.title'}}</p>
      <input
        name='data.general.aspect.appearance.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.appearance.value}}'
      />
    </div>
    <div class='size flex'>
      <p class='label'>{{localize 'anima.ui.aspectSection.size.title'}}</p>
      <input
        name='data.general.aspect.size.value'
        type='text'
        class='input'
        value='{{data.data.general.aspect.size.value}}'
      />
    </div>
  </div>
</div>