<form class='{{cssClass}}' autocomplete='off'>
  {{#> "systems/animabf/templates/common/ui/group.hbs" class="defense-config"}}

    {{>
    "systems/animabf/templates/common/ui/group-header.hbs"
      title=(localize "macros.combat.dialog.defending.defend.title")
    }}

    {{#> "systems/animabf/templates/common/ui/group-body.hbs" class="defense-config"}}

      {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        title=(localize 'macros.combat.dialog.modifier.title')
        inputName="defender.combat.modifier"
        inputValue=this.defender.combat.modifier
      }}

      <nav class="animabf-tabs sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="dodge">{{localize "macros.combat.dialog.dodgeButton.title"}}</a>
        <a class="item" data-tab="block">{{localize "macros.combat.dialog.blockButton.title"}}</a>
        <a class="item" data-tab="shield">{{localize "anima.ui.combat.supernaturalShields.title"}}</a>
      </nav>

      <section class="sheet-body">

        <div class="tab dodge" data-group="primary" data-tab="dodge">
          <p class="label">{{localize "macros.combat.dialog.dodgeButton.title"}}: {{this.ui.dodgeValue}}</p>

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-defense' data-type='dodge'>
              {{localize 'macros.combat.dialog.dodgeButton.title'}}
            </button>
          {{/if}}
        </div>

        <div class="tab block" data-group="primary" data-tab="block">
          {{#if this.defender.combat.unarmed}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.weapon.title')
              disabled=true
            }}
              <option>Unarmed</option>
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
          {{else}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'macros.combat.dialog.weapon.title')
              inputName='defender.combat.weaponUsed'
            }}
              {{#each this.defender.actor.system.combat.weapons}}
                <option {{#if (is 'eq' this._id ../this.defender.combat.weaponUsed)}}selected{{/if}} value='{{this._id}}'>
                  {{localize 'macros.combat.dialog.weaponRow.defense.title' name=this.name value=this.system.block.final.value}}
                </option>
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
          {{/if}}

          <p class="label">{{localize "macros.combat.dialog.blockButton.title"}}: {{this.ui.blockValue}}</p>

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-defense' data-type='block'>
              {{localize 'macros.combat.dialog.blockButton.title'}}
            </button>
          {{/if}}
        </div>

        <div class="tab shield" data-group="primary" data-tab="shield">
          {{#if (isArrayEmpty this.ui.supernaturalShields)}}
            <p class="label">{{localize "macros.combat.dialog.weapon.notFound"}}</p>
          {{else}}
            {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
              title=(localize 'anima.ui.combat.supernaturalShields.title')
              inputName='defender.combat.supernaturalShieldUsed'
            }}
              {{#each this.ui.supernaturalShields as |sh|}}
                <option {{#if (is 'eq' sh._id ../this.defender.combat.supernaturalShieldUsed)}}selected{{/if}} value='{{sh._id}}'>
                  {{sh.name}} ({{sh.value}})
                </option>
              {{/each}}
            {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

            <p class="label">{{localize "anima.ui.combat.defense.title"}}: {{this.ui.shieldValue}}</p>
          {{/if}}

          {{#if this.defenseSent}}
            <div class='defense-sent'>
              {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
              <p class='label'>{{localize 'macros.combat.dialog.defenseSent.title'}}</p>
            </div>
          {{else}}
            <button class='animabf-button send-defense' data-type='shield'>
              {{localize 'macros.combat.dialog.defenseButton.title'}}
            </button>
          {{/if}}
        </div>

      </section>

    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}
</form>
