<form class='{{cssClass}}' autocomplete='off'>
  {{#> "systems/animabf/templates/common/ui/group.hbs"
    class="roll-values"
  }}
    {{>
    "systems/animabf/templates/common/ui/group-header.hbs"
      title=(localize (concat 'macros.combat.dialog.rolling.' this.roll.type '.title'))
    }}
    {{#> "systems/animabf/templates/common/ui/group-body.hbs"
      class="roll-values"
    }}
      <div class='columns'>
        <div>
          {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              title=(localize 'macros.combat.dialog.noRoll.title')
              disabled=this.rollSent
              inputType="checkbox"
              inputName="withoutRoll"
              inputValue=(is 'eq' this.withoutRoll true)
          }}
        </div>
        <div>
          {{#if this.ui.isGM}}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              title=(localize 'macros.combat.dialog.showRoll.title')
              disabled=this.rollSent
              inputType="checkbox"
              inputName="showRoll"
              inputValue=(is 'eq' this.showRoll true)
            }}
          {{/if}}
        </div>
      </div>

    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize 'macros.combat.dialog.modifier.title')
      disabled=this.rollSent
      inputName="roll.modifier"
      inputValue=this.roll.modifier
    }}

    {{#if (is "eq" this.roll.type "critic")}}
      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        title=(localize 'macros.combat.dialog.criticLevel.title')
        disabled=true
        inputName="critic.criticLevel"
        inputValue=this.critic.criticLevel
      }}
      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        title=(localize "anima.ui.combat.baseValues.criticLevel.title")
        disabled=true
        inputName="roll.value"
        inputValue=this.roll.value
      }}
    {{/if}}

    {{#if (is "neq" this.roll.type "critic")}}
    {{>
    "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      title=(localize "macros.combat.dialog.rollValue.title")
      disabled=true
      inputName="roll.value"
      inputValue=this.roll.value
    }}
    {{/if}}

    {{#if (is "eq" this.roll.type "resistance")}}
      {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
        class="resistance"
        title=(localize 'macros.combat.dialog.rolling.resistance.title')
        disabled=this.rollSent
        inputName='roll.resistance'
        inputValue=this.roll.resistance
      }}
        {{#if this.ui.resistances.disease}}
          <option {{#if (is "eq" this.roll.resistance "disease")}}selected{{/if}} value="disease">{{localize 'anima.ui.resistances.disease'}}</option>
        {{/if}}
        {{#if this.ui.resistances.magic}}
          <option {{#if (is "eq" this.roll.resistance "magic")}}selected{{/if}} value="magic">{{localize 'anima.ui.resistances.magic'}}</option>
        {{/if}}
        {{#if this.ui.resistances.physical}}
          <option {{#if (is "eq" this.roll.resistance "physical")}}selected{{/if}} value="physical">{{localize 'anima.ui.resistances.physical'}}</option>
        {{/if}}
        {{#if this.ui.resistances.poison}}
          <option {{#if (is "eq" this.roll.resistance "poison")}}selected{{/if}} value="poison">{{localize 'anima.ui.resistances.poison'}}</option>
        {{/if}}
        {{#if this.ui.resistances.psychic}}
          <option {{#if (is "eq" this.roll.resistance "psychic")}}selected{{/if}} value="psychic">{{localize 'anima.ui.resistances.psychic'}}</option>
        {{/if}}
      {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
    {{/if}}

    {{#if (is "eq" this.roll.type "oppousedCheck")}}
      {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
        class="oppoused-check-characteristic"
        title=(localize 'macros.combat.dialog.oppousedCheck.characteristic.title')
        disabled=this.rollSent
        inputName='oppousedCheck.characteristic'
        inputValue=this.oppousedCheck.characteristic
      }}
        {{#if this.ui.characteristics.special}}
          <option {{#if (is "eq" this.oppousedCheck.characteristic "special")}}selected{{/if}} value="special">{{localize 'macros.combat.dialog.oppousedCheck.characteristic.special.title'}}</option>
        {{/if}}
        {{#if this.ui.characteristics.strength}}
          <option {{#if (is "eq" this.oppousedCheck.characteristic "strength")}}selected{{/if}} value="strength">{{localize 'macros.combat.dialog.oppousedCheck.characteristic.strength.title'}}</option>
        {{/if}}
        {{#if this.ui.characteristics.agility}}
          <option {{#if (is "eq" this.oppousedCheck.characteristic "agility")}}selected{{/if}} value="agility">{{localize 'macros.combat.dialog.oppousedCheck.characteristic.agility.title'}}</option>
        {{/if}}
        {{#if this.ui.characteristics.dexterity}}
          <option {{#if (is "eq" this.oppousedCheck.characteristic "dexterity")}}selected{{/if}} value="dexterity">{{localize 'macros.combat.dialog.oppousedCheck.characteristic.dexterity.title'}}</option>
        {{/if}}
      {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

      {{#if this.ui.hasFatiguePoints}}
        {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
          title=(localize 'macros.combat.dialog.fatigue.title')
          disabled=this.rollSent
          inputName="roll.fatigueUsed"
          inputValue=this.roll.fatigueUsed
        }}
          <option {{#if (is "eq" 0 this.roll.fatigueUsed)}}selected{{/if}} value='0'>0</option>

        {{#iterateNumber this.actor.system.characteristics.secondaries.fatigue.value}}
          <option {{#if (is "eq" (math this "+" 1) ../this.roll.fatigueUsed)}}selected{{/if}} value='{{math this "+" 1}}'>{{math this "+" 1}}</option>
        {{/iterateNumber}}
        {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
        {{else}}
        <p class='label no-fatigue'>{{localize 'macros.combat.dialog.notEnoughFatigue.title'}}</p>
      {{/if}}
    {{/if}}

    {{#if this.rollSent}}
      <div class='roll-sent'>
        {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
        <p class='label'>
          {{localize 'macros.combat.dialog.rollSent.title'}}
        </p>
      </div>
      {{else}}
        <button class='abf-button send-roll' data-type='roll'>
          {{localize 'macros.combat.dialog.rollButton.title'}}
        </button>
    {{/if}}

    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}
</form>
