<form class='{{cssClass}} user-combat-attack-dialog {{#if this.allowed}}allowed{{/if}}' autocomplete='off'>
  {{#> "systems/animabf/templates/common/ui/group.hbs"
    class="attack-values"
  }}
    {{>
    "systems/animabf/templates/common/ui/group-header.hbs"
      title=(concat "Attacking " this.defender.actor.name)
    }}
    {{#> "systems/animabf/templates/common/ui/group-body.hbs"
      class="attack-values"
    }}
      {{#if this.allowed}}
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          title=(localize 'macros.combat.dialog.attacking.mod.title')
          disabled=this.attackSent
          inputName="attacker.modifier"
        }}
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          title=(localize 'macros.combat.dialog.attacking.fatigue.title')
          disabled=this.attackSent
          inputName="attacker.fatigueUsed"
        }}
        {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
          title=(localize 'macros.combat.dialog.attacking.weapon.title')
          disabled=this.attackSent
          inputName='attacker.weaponUsed'
        }}
          {{#each this.attacker.actor.data.data.combat.weapons}}
            <option {{#if (is "eq" this._id ../this.attacker.weaponUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}} with {{this.data.attack.value}} attack</option>
          {{/each}}
        {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

        {{#if this.attacker.weaponHasSecondaryCritic}}
          {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
            title=(localize 'macros.combat.dialog.attacking.weapon.critic.title')
            disabled=this.attackSent
            inputName='attacker.criticSelected'
          }}
            <option value='{{this.attacker.weapon.data.critic.primary.value}}'>{{this.attacker.weapon.data.critic.primary.value}}</option>
            <option value='{{this.attacker.weapon.data.critic.secondary.value}}'>{{this.attacker.weapon.data.critic.secondary.value}}</option>
          {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
        {{else}}
          {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
            title=(localize 'macros.combat.dialog.attacking.weapon.critic.title')
            disabled=true
            inputName='attacker.criticSelected'
          }}
            <option selected value='{{this.attacker.weapon.data.critic.primary.value}}'>{{this.attacker.weapon.data.critic.primary.value}}</option>
          {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
        {{/if}}


        {{#if this.attackSent}}
          <div class='attack-sent'>
            {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
            <p class='label'>
              Attack sent. Waiting for combat results...
            </p>
          </div>
        {{else}}
          <button class='send-attack'>
            Send attack
          </button>
        {{/if}}
      {{else}}
        <div class='waiting-row'>
          {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
          <p class='label'>Waiting for GM manage attack request...</p>
        </div>
      {{/if}}
    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}

</form>