<form class='{{cssClass}} user-combat-defense-dialog' autocomplete='off'>
  {{#> "systems/animabf/templates/common/ui/group.hbs"
    class="defense-values"
  }}
    {{>
    "systems/animabf/templates/common/ui/group-header.hbs"
      title=(concat "Defending from " this.attacker.actor.name)
    }}
    {{#> "systems/animabf/templates/common/ui/group-body.hbs"
      class="defense-values"
    }}
      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        title=(localize 'macros.combat.dialog.attacking.mod.title')
        disabled=this.attackSent
        inputName="defender.modifier"
      }}

      {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        title=(localize 'macros.combat.dialog.defending.fatigue.title')
        disabled=this.defenseSent
        inputName="defender.fatigue"
      }}

      {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
        class="defense-amount"
        hideTitle=true
        disabled=this.defenseSent
        inputName='defender.defenseCount'
      }}
        <option value="0">1ª {{localize 'macros.combat.dialog.defending.defend.title'}}</option>
        <option value="30">2ª {{localize 'macros.combat.dialog.defending.defend.title'}}</option>
        <option value="50">3ª {{localize 'macros.combat.dialog.defending.defend.title'}}</option>
        <option value="70">4ª {{localize 'macros.combat.dialog.defending.defend.title'}}</option>
        <option value="90">5ª {{localize 'macros.combat.dialog.defending.defend.title'}}</option>
      {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

      {{#if this.defenseSent}}
        <div class='defense-sent'>
          {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
          <p class='label'>
            Defense sent. Waiting for combat results...
          </p>
        </div>
      {{else}}
        <div class='defense-buttons'>
          <button class='send-defense' data-type='dodge'>
            Dodge attack
          </button>
          <button class='send-defense' data-type='block'>
            Block attack
          </button>
        </div>
      {{/if}}
    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}

</form>