<div class='spheres'>
  <div class='spheres-container'>
    <img src='/systems/animabf/assets/images/mystic/spheres.png' alt='spheres' />
    <p class='label title'>Nivel de esfera</p>
    <div class='essence-sphere sphere'>
      <p class='label sphere-name'>
        Esencia
      </p>
      <input name='data.mystic.magicLevel.spheres.essence.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.essence.value}}'/>
    </div>
    <div class='water-sphere sphere'>
      <p class='label sphere-name'>
        Agua
      </p>
      <input name='data.mystic.magicLevel.spheres.water.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.water.value}}'/>
    </div>
    <div class='earth-sphere sphere'>
      <p class='label sphere-name'>
        Tierra
      </p>
      <input name='data.mystic.magicLevel.spheres.earth.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.earth.value}}'/>
    </div>
    <div class='creation-sphere sphere'>
      <p class='label sphere-name'>
        Creación
      </p>
      <input name='data.mystic.magicLevel.spheres.creation.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.creation.value}}'/>
    </div>
    <div class='darkness-sphere sphere'>
      <p class='label sphere-name'>
        Oscuridad
      </p>
      <input name='data.mystic.magicLevel.spheres.darkness.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.darkness.value}}'/>
    </div>
    <div class='necromancy-sphere sphere'>
      <p class='label sphere-name'>
        Nigromancia
      </p>
      <input name='data.mystic.magicLevel.spheres.necromancy.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.necromancy.value}}'/>
    </div>
    <div class='light-sphere sphere'>
      <p class='label sphere-name'>
        Luz
      </p>
      <input name='data.mystic.magicLevel.spheres.light.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.light.value}}'/>
    </div>
    <div class='destruction-sphere sphere'>
      <p class='label sphere-name'>
        Destrucción
      </p>
      <input name='data.mystic.magicLevel.spheres.destruction.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.destruction.value}}'/>
    </div>
    <div class='air-sphere sphere'>
      <p class='label sphere-name'>
        Aire
      </p>
      <input name='data.mystic.magicLevel.spheres.air.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.air.value}}'/>
    </div>
    <div class='fire-sphere sphere'>
      <p class='label sphere-name'>
        Fuego
      </p>
      <input name='data.mystic.magicLevel.spheres.fire.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.fire.value}}'/>
    </div>
    <div class='illusion-sphere sphere'>
      <p class='label sphere-name'>
        Ilusión
      </p>
      <input name='data.mystic.magicLevel.spheres.illusion.value' class='sphere-value' type='number' value='{{data.mystic.magicLevel.spheres.illusion.value}}'/>
    </div>
    {{>
    "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
      class="total"
      title="Total"
      inputName="data.mystic.magicLevel.total.value"
      inputValue=data.mystic.magicLevel.total.value
    }}

    {{>
    "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
      class="used"
      title="Usado"
      inputName="data.mystic.magicLevel.used.value"
      inputValue=data.mystic.magicLevel.used.value
    }}

  </div>
</div>