<nav class='custom-action-bar'>
  {{#if this.isGM}}
    <ol class='macros'>
      <div
        title='{{localize 'customHotbar.damageCalculator'}}'
        id='custom-hotbar-damage-calculator'
        class='custom-macro'
      >
        <img src='systems/animabf/assets/icons/game-icons.net/ffffff/delapouite/calculator.svg' />
        <p class='shortcut'>ctrl + 1</p>
      </div>
      <div title='{{localize 'customHotbar.sendAttack'}}' id='custom-hotbar-send-attack' class='custom-macro'>
        <img src='/systems/animabf/assets/icons/game-icons.net/ffffff/lorc/sword-clash.svg' />
        <p class='shortcut'>ctrl + 2</p>
      </div>
      <div title='{{localize 'customHotbar.mysticAct'}}' id='custom-hotbar-mystic-act' class='custom-macro'>
        <img src='/icons/svg/aura.svg' />
        <p class='shortcut'>ctrl + 3</p>
      </div>
      <div title='{{localize 'customHotbar.mysticCast'}}' id='custom-hotbar-mystic-cast' class='custom-macro'>
        <img src='/icons/svg/daze.svg' />
        <p class='shortcut'>ctrl + 4</p>
      </div>
    </ol>
  {{else}}
    <ol class='macros'>
      <div title='{{localize 'customHotbar.sendAttack'}}' id='custom-hotbar-send-attack-request' class='custom-macro'>
        <img src='/systems/animabf/assets/icons/game-icons.net/ffffff/lorc/sword-clash.svg' />
        <p class='shortcut'>ctrl + 1</p>
      </div>
      {{#if (is 'gt' this.maxZeon 0)}}
        <div title='{{localize 'customHotbar.mysticAct'}}' id='custom-hotbar-mystic-act' class='custom-macro'>
          <img src='/icons/svg/aura.svg' />
          <p class='shortcut'>ctrl + 2</p>
        </div>
      {{/if}}
      {{#if this.spells}}
        <div title='{{localize 'customHotbar.mysticCast'}}' id='custom-hotbar-mystic-cast' class='custom-macro'>
          <img src='/icons/svg/daze.svg' />
          <p class='shortcut'>ctrl + 3</p>
        </div>
      {{/if}}
    </ol>
  {{/if}}
</nav>