{{>
"systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
  title=(localize 'macros.combat.dialog.attacking.mod.title')
  disabled=this.attackSent
  inputName="attacker.mystic.modifier"
  inputValue=this.attacker.mystic.modifier
}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title="Magic projection"
  disabled=this.attackSent
  inputName='attacker.mystic.magicProjectionType'
}}
  <option {{#if (is "eq" this.attacker.mystic.magicProjectionType 'normal')}}selected{{/if}} value='normal'>Normal ({{this.attacker.actor.data.data.mystic.magicProjection.final.value}})</option>
  <option {{#if (is "eq" this.attacker.mystic.magicProjectionType 'offensive')}}selected{{/if}} value='offensive'>Offensive ({{this.attacker.actor.data.data.mystic.magicProjection.imbalance.offensive.final.value}})</option>
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title="Spell"
  disabled=this.attackSent
  inputName='attacker.mystic.spellUsed'
}}
  {{#each this.attacker.actor.data.data.mystic.spells}}
    <option {{#if (is "eq" this._id ../this.attacker.mystic.spellUsed)}}selected{{/if}} value='{{this._id}}'>{{this.name}}</option>
  {{/each}}
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  title="Spell grade"
  disabled=this.attackSent
  inputName='attacker.mystic.spellGrade'
}}
  <option {{#if (is "eq" this.attacker.mystic.spellGrade 'base')}}selected{{/if}} value='base'>Base</option>
  <option {{#if (is "eq" this.attacker.mystic.spellGrade 'intermediate')}}selected{{/if}} value='intermediate'>Intermediate</option>
  <option {{#if (is "eq" this.attacker.mystic.spellGrade 'advanced')}}selected{{/if}} value='advanced'>Advanced</option>
  <option {{#if (is "eq" this.attacker.mystic.spellGrade 'arcane')}}selected{{/if}} value='arcane'>Arcane</option>
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}

{{#if this.attackSent}}
  <div class='mystic-attack-sent'>
    {{>'systems/animabf/templates/common/ui/loading-indicator.hbs' class="big"}}
    <p class='label'>
      Magic attack sent. Waiting for combat results...
    </p>
  </div>
{{else}}
  <button class='send-mystic-attack'>
    Send magic attack
  </button>
{{/if}}