<div class='group contacts mt-3'>
  <div class='group-header'>
    <img
      class='add-button'
      data-on-click='add-contact'
      src='/systems/animabf/assets/icons/game-icons.net/ffffff/sbed/add.svg'
    />
    <h3 class='group-header-title'>{{localize 'anima.ui.contactSection.title'}}</h3>
  </div>
  <div id='contacts-context-menu-container' class='group-body'>
    {{#each data.data.general.contacts}}
      <div data-item-id='{{this._id}}' class='contact-row flex'>
        <div class='contact-name flex flex-1 mr-3'>
          <p class='label'>{{localize 'anima.ui.contactSection.contactRow.name'}}</p>
          <input
            name='data.dynamic.contacts.{{this._id}}.name'
            class='input'
            value='{{this.name}}'
          />
        </div>
        <div class='contact-description flex flex-4'>
          <p class='label'>{{localize
              'anima.ui.contactSection.contactRow.description'
            }}</p>
          <input
            name='data.dynamic.contacts.{{this._id}}.data.description.value'
            class='input'
            value='{{this.data.description.value}}'
          />
        </div>
      </div>
    {{/each}}
  </div>
</div>