{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="elan"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.elanSection.title')
    addRowButtonData="add-elan"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="elan"
  }}
    {{#each data.data.general.elan as |elan|}}
      <div class='elan-row'>
        <div data-item-id='{{elan._id}}' class='base'>
          {{>
          "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
            class="name"
            title=(localize 'anima.ui.elanSection.elanRow.name')
            inputType="text"
            inputName=(concat "data.dynamic.elan." elan._id ".name")
            inputValue=elan.name
          }}
          {{>
          "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
            class="level"
            title=(localize 'anima.ui.elanSection.elanRow.level')
            inputName=(concat "data.dynamic.elan." elan._id ".data.level.value")
            inputValue=elan.data.level.value
          }}
        </div>

        {{#each elan.data.powers as |power|}}
          <div
            class='powers mt-1'
            data-elan-id='{{elan._id}}'
            data-elan-power-id='{{power._id}}'
          >
            <input
              type='hidden'
              name='data.dynamic.elan_power.{{power._id}}.data.elanId'
              value='{{elan._id}}'
            />
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="elan-power-name"
              hideTitle=true
              inputType="text"
              inputName=(concat "data.dynamic.elan_power." power._id ".name")
              inputValue=power.name
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="elan-power-level"
              hideTitle=true
              inputType="text"
              inputName=(concat "data.dynamic.elan_power." power._id ".data.level.value")
              inputValue=power.data.level.value
            }}
          </div>
        {{/each}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}