<div class='group language mt-3'>
  <div class='group-header'>
    <img
      class='add-button'
      data-on-click='add-language'
      src='/systems/animabf/assets/images/boton-plus.png'
    />
    <h3 class='group-header-title'>{{localize 'anima.ui.languageSection.title'}}</h3>
    <input type='number' class='input' />
  </div>
  <div id='languages-context-menu-container' class='group-body'>
    <div class='base-language flex'>
      <p class='label ml-2 mr-2'>{{localize 'anima.ui.languageSection.base'}}</p>
      <input
        name='data.general.languages.base.value'
        type='text'
        class='input'
        value='{{data.data.general.languages.base.value}}'
      />
    </div>
    {{#each data.data.general.languages.others}}
      <div data-language-id='{{this._id}}' class='language-row'>
        <input
          name='data.dynamic.other_languages.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  </div>
</div>