<div class='group level'>
  <div class='group-header'>
    <img
      class='add-button'
      data-on-click='add-level'
      src='/systems/animabf/assets/images/boton-plus.png'
    />
    <h3 class='group-header-title'>{{localize 'anima.ui.levelSection.title'}}</h3>
    <input type='number' class='input' />
  </div>
  <div id='levels-context-menu-container' class='group-body'>
    {{#each data.data.general.levels}}
      <div data-item-id='{{this._id}}' class='level-row flex'>
        <input
          name='data.dynamic.levels.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
        <input
          name='data.dynamic.levels.{{this._id}}.data.level'
          type='text'
          class='input'
          value='{{this.data.level}}'
        />
      </div>
    {{/each}}
  </div>
</div>